@import url("https://fonts.googleapis.com/css?family=Marcellus");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "playlist-script", "Marcellus" !important;
  overflow-x: hidden;
}
.navbar,
.navbar-default {
  background-image: linear-gradient(
    to bottom,
    #e7426b 0,
    #e7426b 100%
  ) !important; /* override background image gradient w/ flat color */
}
.navbar-brand {
  font-family: "Marcellus", sans-serif;
  color: white;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}
.family {
  font-famiy: "Marcellus", sans-serif;
}
.family1 {
  color: #fff;
  font-family: "Marcellus", sans-serif;
}

.style {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.style .img {
  object-fit: contain;
}
.herosection {
  background-color: #e7426b;
}
.button {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

.dis {
  font-family: public sans;
  font-weight: bold;
  color: #213366;
}
label {
  color: #213366;
  font-family: "Public Sans",sans-serif !important;
}
label .input {
  display: block;
  width: 220px;
}
.parent {
  margin-top:0%;
  text-align: center;
}


.child {
  
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.child1 {
  padding: 1rem 1rem;
  vertical-align: middle;

}

.child label {
  color: #213366;
  font-weight: bolder;
}
.input {
  background-color: #e7426b;
  color: white;
}
::placeholder {
  color: white;
  
}
.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.imgcontainer {
  position: relative;
}

.imgcontainer::before {
  content: "";
  background-image: url("./images/back.png");
  background-repeat: no-repeat;

  background-size: 100% 1300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  opacity: 1;
  
  z-index: -1;

  /* Ensure the overlay is behind the content */
}
.imgcontainer h1{
  font-family: "Public Sans" ,sans-serif !important;
font-weight:bold;
font-color:#213366;
}
.btn-1 {
  background-color: #e7426b;
  color: white;
  width: 60%;
}
.x-3 {
  top: 1em;
}
.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}
.imgcontainer{
  padding:50px 10px;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;

  margin-top:5px;
   color: #000;
  text-decoration: none;
  
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  font-size: larger;
  flex-direction: column;
  color:#AA336A;
}


.show-counter .countdown.danger {
  color:#FF5733;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
.fi h1{
  color:#213366;
  font-family: "Public Sans",sans-serif !important;
  font-weight: bold;
}
.steps {
  font-family: "Dancing Script", sans-serif !important;
}
h1 {
  color: #213366;
}
h1 span {
  color: #e7426b;
}
.center {
  text-align: center;
  list-style-position: inside;
  color: #213366;
  font-size: large;
}
.container {
  position: relative;
padding:35px 0px;


}

.container::before {
  content: "";
  background-image: url("./images/last.png");
  background-repeat: no-repeat;

  background-size:100% 300px;
  position: absolute;
  top: 0;
  left: 0;
  
   
  width:100%;
  height: 100%;
  /* filter: brightness(0.5); */
  opacity: 1;
  /* Adjust the opacity value as needed */
  z-index: -1;

  /* Ensure the overlay is behind the content */
}





@media(max-width:680px) {
  .herosection img{
    display:flex;
    flex:column;
    margin-top: 90%;
  }
  .styles .family1 .family{
    font-size:0.3rem;
    margin-left: 50%;
  }
  .family1{
    font-size: 1rem;
    margin-left:0px;
  }
  .herosection .button{
    padding:6px 10px ;
  }
  
  .style img {
    width: 100%;
    height:fit-content;
    
  }
  

  
  select{
    min-width: 1px;
    
  }
  input{
    min-width: 1px;
  }
  form{
    min-width: fit-content;
  }
  
  
  .btn-1{ 
  width:50%;
  }
  .countdown-values {
  display: flex;
  
}


.big-text {
font-weight: lighter;
  font-size: 2rem;
  line-height: 1;
  margin: 10px ;
}

.countdown-value {

  width: 100%;
  margin:10px 0%;
  

}
.container{
  position:relative;
  padding:55px 0px;
}
.imgcontainer::before{
  background-size: 100% 1900px; 
  
  

  width:100%;
  height:100%;
}
.imgcontainer{
  position:relative;
  padding:20px 0px;
}


  


  
}
